<%- include('includes/head')%>
<%- include('includes/nav')%>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-4">
          <h1 class="text-center">Cadastro de Alunos</h1>
          <p class="text-center lead">Crie ou edite um aluno abaixo</p>

         <%- include('includes/messages') %>

          <!--Mudado onde "aluno" para "aluno"-->
          <% if(aluno._id) { %>
         <form action="/aluno/edit/<%= aluno._id %>" method="POST">
          <% } else { %>
            <form action="/aluno/register" method="POST">
            <% } %>
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="mb-3">
              <label class="form-label">Nome completo</label>
              <input value="<%= aluno.nome %>" type="text" class="form-control" name="nome">
            </div>
            <div class="mb-3">
              <label class="form-label">Matrícula</label>
              <input value="<%= aluno.matricula %>" type="text" class="form-control" name="matricula"> 
            </div>
            <div class="mb-3">
              <label class="form-label">Curso:</label>
                <select name="curso">
                  <option value="<%= aluno.curso %>">ADM</option>
                  <option value="<%= aluno.curso %>">Redes</option>
                </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Turno:</label>
              <select name="turno">
                <option value="A" <%= aluno.turno === "A" ? 'selected' : '' %>>A</option>
                <option value=""B" <%= aluno.turno === "B" ? 'selected' : '' %>"">B</option>
              </select>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label">Sobrenome</label>
                <input value="<%= aluno.sobrenome %>" type="text" class="form-control" name="sobrenome">
              </div> -->
              <!-- <div class="mb-3">
                <label class="form-label">Email</label>
                <input value="<%= aluno.email %>" type="email" class="form-control" name="email">
              </div> -->
            <button type="submit" class="btn btn-primary ">Salvar</button>
          </form>
          
        </div>

        <div class="col-lg-2"></div>
        </div>
      </div>
    <%- include('includes/footer')%>