<%- include('includes/head')%>
<%- include('includes/nav')%>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-4">
          <h1 class="text-center text-primary">Cadastro de Alunos</h1>
          <p class="text-center lead">Crie um aluno abaixo</p>

         <%- include('includes/messages') %>

          <!--Mudado onde "aluno" para "aluno"-->
          <% if(aluno._id) { %>
         <form action="/aluno/edit/<%= aluno._id %>" method="POST">
          <% } else { %>
            <form action="/aluno/register" method="POST">
            <% } %>
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="mb-3">
              <label class="form-label">Nome completo</label>
              <input value="<%= aluno.nome %>" type="text" class="form-control" name="nome">
            </div>
            <div class="mb-3">
              <label class="form-label">Matrícula</label>
              <input value="<%= aluno.matricula %>" type="text" class="form-control" name="matricula"> 
            </div>
            <div class="mb-3">
              <label class="form-label">Curso:</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="curso" id="cursoADM" value="ADM" <%= aluno.curso === "ADM" ? 'checked' : '' %>>
                <label class="form-check-label" for="cursoADM">ADM</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="curso" id="cursoRedes" value="Redes" <%= aluno.curso === "Redes" ? 'checked' : '' %>>
                <label class="form-check-label" for="cursoRedes">Redes</label>
              </div>
            </div>
    
            <div class="mb-3">
              <label class="form-label">Turma:</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="turno" id="turnoA" value="A" <%= aluno.turno === "A" ? 'checked' : '' %>>
                <label class="form-check-label" for="turnoA">A</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="turno" id="turnoB" value="B" <%= aluno.turno === "B" ? 'checked' : '' %>>
                <label class="form-check-label" for="turnoB">B</label>
              </div>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label">Sobrenome</label>
                <input value="<%= aluno.sobrenome %>" type="text" class="form-control" name="sobrenome">
              </div> -->
              <!-- <div class="mb-3">
                <label class="form-label">Email</label>
                <input value="<%= aluno.email %>" type="email" class="form-control" name="email">
              </div> -->
            <button type="submit" class="btn btn-primary ">Salvar</button>
          </form>
          
        </div>

        <div class="col-lg-2"></div>
        </div>
      </div>
    <%- include('includes/footer')%>