<%- include('includes/head')%>
<%- include('includes/nav')%>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-4">
      <h1 class="text-center" id="titulo-index">Alunos</h1>
      <p class="text-center lead" id="texto-index">Lista de alunos cadastrados</p>
      
      <%- include('includes/messages') %> 

      <% if (alunos.length > 0) { %>
        <div class="responsive-table shadow-sm p-3 mb-5 bg-white rounded">
          <table class="table table-borderless table-light  border-primary table-striped">
            <thead class="table-primary bg-primary">
              <tr class=" text-white">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Curso</th>
                <th scope="col">Turno</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>

            <tbody>
              <% const numeroInicial = 1; %> 
              <% const alunosReverso = alunos.slice().reverse(); %>
              <% alunosReverso.forEach((aluno, index) => { %>
                <tr>
                  <td><%= index + numeroInicial %></td>
                  <td><%= aluno.nome %> <%= aluno.sobrenome %></td>
                  <td><%= aluno.matricula %></td>
                  <td><%= aluno.curso %></td>
                  <td class="text-center"><%= aluno.turno %></td>
                  <td>
                    <a href="/aluno/index/<%= aluno._id %>">Editar</a>
                    <a class="text-danger" href="/aluno/delete/<%= aluno._id %>">Excluir</a>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      <% } else { %>
        <p class="text-center lead">Não existem alunos cadastrados.</p>
      <% } %>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer')%>
