<%- include('includes/head')%>
<%- include('includes/nav')%>
<title>Avalie a atividade</title>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-4">
          <h1 class="text-center text-primary">Atividade</h1>
          <p class="text-center lead">Avalie a atividade abaixo</p>

         <%- include('includes/messages') %>
         <% if(aluno._id) { %>
          <form action="/aluno/atividade/<%= aluno._id %>" method="POST">
           <% } else { %>
             <form action="/aluno/register" method="POST">
             <% } %>
             <input type="hidden" name="_csrf" value=<%= csrfToken %>>
             <div class="mb-3">
            <p>Nome: <%= aluno.nome %> <%= aluno.sobrenome %></p>
          </div>
          <div class="mb-3">
            <p>Email: <%= aluno.email %></p>
          </div>
          <div class="mb-2">
            <p>Matricula: <%= aluno.matricula %></p>
          </div>
          <div class="mb-2">
            <p>Descrição: <%= aluno.descricao %></p>
          </div>
          <div class="mb-2">
            <p>Certificado: <%= /* aluno.descricao */ %></p>
          </div>
          <button type="submit" class="btn btn-success">Aceitar</button>
          <button type="submit" class="btn btn-danger">Invalidar</button>
        </form>
        </div>
        <div class="col-lg-2"></div>
        </div>
      </div>
    <%- include('includes/footer')%>