<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8">
      <div class="shadow">
        <div class="card-body">
          <h1 class="text-center text-primary">Atividade</h1>
          <p class="text-center lead">Avalie a atividade abaixo</p>

          <%- include('includes/messages') %>

          <% const atividadeDesejada = atividades.find(atividade => atividade._id.toString() === req.params.id); %>

          
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="mb-3">
              <label for="nome" class="form-label">Nome da atividade</label>
              <input id="nome" type="text" class="form-control" name="nome" value="<%= atividadeDesejada.nomeatt %>" readonly />
            </div>

            <div class="mb-3">
              <a href="/download/<%= atividadeDesejada._id %>">Baixar Anexo</a>
            </div>

            <div class="mb-3">
              <label for="descricao" class="form-label">Descrição da atividade</label>
              <textarea id="descricao" class="form-control" rows="8" name="descricao" style="resize: none;" readonly><%= atividadeDesejada.descricao %></textarea>
            </div>

            <div class="d-flex justify-content-between">
              <form action="/atividade/valida/<%= atividadeDesejada._id %>" method="POST">
              <button type="submit" class="btn btn-success">Aceitar</button>
            </form>
            <form action="/atividade/invalida/<%= atividadeDesejada._id %>" method="POST">
              <button type="submit" class="btn btn-danger">Invalidar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>