<%- include('includes/head') %>

<style>
  .custom-file-label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<div id="bg-image">
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100" >
      <div class="col-lg-8 my-4" style="background-color: white; border-radius: 5px; ">
        <form action="/anexo/enviado" method="POST">
          <h3 class="text-center mb-4 mx-auto">
            Faça o envio da atividade abaixo
          </h3>
          <div class="form-group row mt-4">
            <div class="col-sm-12 col-md-6">
              <label for="nome" class="col-form-label text-left">Nome</label>
              <input
                type="name"
                class="form-control"
                id="nome"
                value="<%= aluno.nome %>"
                readonly
              />
            </div>
            <div class="col-sm-12 col-md-6">
              <label for="matricula" class="col-form-label text-left">Matrícula</label>
              <input
                type="name"
                class="form-control"
                id="matricula"
                value="<%= aluno.matricula %>"
                readonly
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 col-md-6">
              <label for="turno" class="col-form-label text-left">Curso</label>
              <input
                type="name"
                class="form-control"
                id="turno"
                value="<%= aluno.curso %>"
                readonly
              />
            </div>
            <div class="col-sm-12 col-md-6">
              <label for="turma" class="col-form-label text-left">Turma</label>
              <input
                type="name"
                class="form-control"
                id="turma"
                value="<%= aluno.turno %>"
                readonly
              />
            </div>
          </div>
        </form>

        <form
          action="/anexo/enviado/<%= aluno._id %>"
          method="POST"
          class="row shadow p-3 rounded d-flex justify-content-center align-items-center"
          enctype="multipart/form-data"
          style="background-color: white; box-shadow: 1px 1px 5px rgb(255, 0, 0);"
        >
          <div class="col-lg-6 align-items-center justify-content-center">
            <div class="d-flex flex-column mt-0">
              <div class="input-group">
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="anexo"
                    name="anexo"
                    required
                  />
                  <label
                    class="custom-file-label"
                    for="anexo"
                    data-browse="Anexar"
                  >
                    Escolher arquivo
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-2">
            <div class="mt-2">
              <button type="submit" class="btn btn-primary btn-block">
                Enviar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const anexoInput = document.getElementById("anexo");
  const anexoLabel = document.querySelector(".custom-file-label");

  anexoInput.addEventListener("change", function () {
    // Exibe o nome do arquivo selecionado no rótulo personalizado
    anexoLabel.textContent = this.files.length > 0 ? this.files[0].name : 'Escolher arquivo';
  });
</script>

<%- include('includes/footer') %>