<%- include('includes/head')%> <%- include('includes/nav')%>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-4">
      <h1 class="text-center">Atividades</h1>
      <p class="text-center lead">Atividades para validar</p>

      <%- include('includes/messages') %> <% if (contatos.length > 0) { %>
        <div class="responsive-table">
          <table class="table my-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Matrícula</th>
                <th scope="col">E-mail</th>
                <!-- <th scope="col">Data de envio</th> <<< INCLUIR ISSO DEPOIS DE CRIAR O "contato.criadoEm" -->
              </tr>
            </thead>
            <tbody>
              <% const numeroInicial = 1; %> 
              <% const contatosReverso = contatos.slice().reverse(); %> <!-- ultimo aluno criado vai para o fim da lista -->
              <% contatosReverso.forEach((contato, index) => { %>
              <tr>
                <td><%= index + numeroInicial %></td>
                <td><%= contato.nome %></td>
                <td><%= contato.sobrenome %></td>
                <td><%= contato.matricula %></td>
                <td><%= contato.email %></td>
                <td>
                  <a href="/contato/atividade/<%= contato._id %>">Avaliar Atividade</a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      <% } else { %>
        <p class="text-center lead">Não existem atividades a serem avaliadas.</p>
      <% } %>
      </div>
      

    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer')%>
