<%- include('includes/head')%>
<%- include('includes/nav')%>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Login</h1>
      <p class="text-center lead">Faça login ou crie sua conta abaixo</p>
        <%- include('includes/messages') %>
      <div class="row">
        <div class="col-lg">
          <h4>Faça seu cadastro</h4>
          <p>Se você ainda não tem conta preencha o formulário abaixo.</p>
            <form class="form-cadastro" action="/login/register" method="POST">
              <input type="hidden" name="_csrf" value=<%= csrfToken %>>
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" name="email">
              </div>
              <div class="mb-3">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" name="password">
              </div>
              <button type="submit" class="btn btn-primary">Criar minha conta</button>
            </form>
        </div>

        <!-- Adicione a borda vertical usando classes do Bootstrap -->
        <div class="border-left">
          <!-- Conteúdo adicional aqui, se necessário -->
        </div>

        <div class="col-lg">
          <h4>Faça seu login</h4>
          <p>Se você já tem uma conta faça login abaixo.</p>
            <form class="form-login" action="/login/login" method="POST">
              <input type="hidden" name="_csrf" value=<%= csrfToken %>>
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" name="email">
              </div>
              <div class="mb-3">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" name="password">
              </div>
              <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer')%>